name: Publish GitHub Packages

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"
          cache: gradle
      - name: Configure org profile
        run: |
          cat <<'EOF' > ~/.gsOrgConfig.json
          {
            "orgId": "vacco-oss",
            "orgConfigUrl": "http://56db25d3f6c39937b48e-6eaf716421c53330be45fa9d36560381.r85.cf2.rackcdn.com/org-config/vacco.json"
          }
          EOF
      - name: Publish to GitHub Packages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MAVEN_SIGNING_PRV: ${{ secrets.MAVEN_SIGNING_PRV }}
        run: ./gradlew --no-daemon clean publish

